h1, h2, h3 
  font-family: 'Dosis', sans-serif
  
p, li, a, small 
  font-family: 'Dosis', sans-serif

.highlights__product--description
  font-family: 'Abel', sans-serif

/* Font hierarchy */
h1 
  font-size: 2em
h2 
  font-size: 1.75em
h3 
  font-size: 1.50em
h4
  font-size: 1.1em
h5
  font-size: 0.8em 
  color: #9c9595
  font-weight: 400


p 
  color: hsla(0, 0%, 0%, 0.8)

div
  display: block


@media only screen and (max-width : 767px) 

  h1 
   font-size: 2em
  h2 
   font-size: 1.625em
  h3 
    font-size: 1.375em


/* col-md-15 */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
  position: relative
  min-height: 1px
  

.col-xs-15
  width: 20%
  float: left

@media (min-width: 768px)
  .col-sm-15
    width: 20%
    float: left

@media (min-width: 992px)
  .col-md-15
    width: 20%
    float: left
    padding-right: 8px;
    padding-left: 8px;

@media (min-width: 1200px)
  .col-lg-15
    width: 20%
    float: left

.traegifts__button
  background-color: #555151
  padding: 0.1em 1.3em
  color: #fff
  text-decoration: none
  font-size: 0.9rem
  margin-bottom: 10px
  
.traegifts__button:hover 
  background-color: hsla(227, 100%, 60%, .1)
  color: #325DFF
 
.btn
  border-radius: 0


/* Main TraeGifts */
.main__left
	float: left
  position: fixed
	.main__left--image
		width: 125%

.main__right
	float: left

.container__content--mainright
  margin-top: 5rem

.main__left--container
  position: relative

.main__left--logo
  position: absolute










.featured-post
  position: relative
  z-index: 1
  font-family: 'open sans', sans-serif

.featured-post .caption 
  position: absolute
  -webkit-border-radius: 15px
  border-radius: 15px
  top: 15px
  right: 15px
  padding: 10px
  color: #fff
  width: 90%
  background: #000
  opacity: .7
  
  font-size: 17px
  z-index: 2





// SLIDER //
.featured-post .caption p 
  padding-bottom: 50px

.featured-post .slider-title 
  font-size: 22px
  font-weight: 600
  text-decoration: none
  display: block
  margin-bottom: 10px
  font-family: 'oswald', sans-serif

.featured-post a:visited 
  color: #fff

.featured-post .btn 
  text-align: center
  text-decoration: none
  background: #F29729
  position: absolute
  bottom: 10px
  right: 10px
  padding: 10px

@media only screen and (max-width: 767px) 
  .featured-post .caption 
    width: 95%
    opacity: .70
    
  .featured-post p
    font-size: 75%
  
  .caption .btn 
    padding: 5px
  

@media only screen and (max-width: 650px)
  .featured-post p 
    display: none
  
  





    






